{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        compojure/compojure {:mvn/version "1.6.2" :exclusions [ring/ring-core]}
        ring/ring-core {:mvn/version "1.8.2"}
        ring/ring-jetty-adapter {:mvn/version"1.8.2"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.13.3"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.13.3"}}

:paths ["src" "resources" "test-data"]
:extra-paths ["test"]

:aliases
 {:recordity
  {:main-opts ["-m" "cli"]
   :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}
  :recordity-server
  {:main-opts ["-m" "restful"]
   :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {ring/ring-mock {:mvn/version "0.4.0"}
                io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
   :exec-fn cognitect.test-runner.api/test}}
}
